.base {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: greenyellow;
  color: black;
  margin: 0;
}

.base-delite {
  background-color: red;
  color: white;
}
