.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 350px;
  padding: 15px;
  margin: 30px auto;
  border-radius: 3px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.btn {
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  margin-top: 15px;
}
